.BgImage {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  background-repeat: no-repeat;
}
