html {
  font-family: 'Helvetica Neue', Sans-Serif;
  background-color: black;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #bbb;
}

.internal {
  max-width: 400px;
  margin: 20vh auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

p {
  max-width: 400px;
  margin: 20px;
}

.KindLogo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.KindLogo path {
  fill: white;
}

.cta {
  font-size: 15px;
}

.cta a {
  line-height: 1.1;
  margin-bottom: 0.4em;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #555;
  margin-left: auto;
  margin-right: auto;
}

.cta a:hover {
  text-decoration: none;
}
